{% extends 'base.html' %}
{% block content %}
      <div class="content">

	{% for anime in anime_list %}
		  {% if anime.category == 'film' %}
      <div style='margin-bottom:4%;' class="info_film">
         <img style="width:185px;" src="{{anime.poster.url}}">
		  <p>{{anime.description|truncatewords:41}}</p>
         <div class="button" style="margin-top:5px"><a href="{{anime.get_absolute_url}}">Смотреть</a></div>
      </div>
			{% endif  %}
		  {% endfor %}
      </div>
	</div>



{% endblock %}