{% extends 'base.html' %}
{% block content %}

<div class="shortstoryContent">

	{% for anime in anime_list %}
	<table >
		<tbody>
			<tr>
				<td>
				<div class="shortstoryHead">
						<h1><a style="font-size:25px; text-decoration:none;" href="{{anime.get_absolute_url}}">{{anime.title}}</a></h1>
				</div>
					<div style="width: 240px; float: left; margin-right: 12px;">
						<a href="#">
							<img class="imgRadius" src={{anime.poster.url}} />
						</a>
					</div>
					<p><strong>Год выхода: </strong>{{anime.year}}</p>
					<p><strong>Жанр:
						{% for gener in anime.genres.all %}

                               <li style="display: inline;">{{ gener.name }} ,</li>

						{% endfor %}
					</strong>
					</p>
					<p><strong>Режиссёр: </strong>

						{% for actor in anime.actors.all %}
                            <a style="font-size:13px; text-decoration:none;" href="{{ actor.get_absolute_url }}">
                                    {{ actor.name }}
                            </a>
						{% endfor %}
					</p>

					<br><strong>Описание: </strong>{{anime.description}}</br>
					<div class="button"><a style="font-size:16px; text-decoration:none;" href="{{anime.get_absolute_url}}">Смотреть</a></div>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
{% endfor %}
		</div>


{% endblock %}

