{% extends 'base.html' %}
{% block content %}
<div class="content">
            <table>
                <tr>
                    <th></th>
                    <th>Полнометражки</th>
                    <th class="center">Год</th>
                    <th class="center">Рейтинг</th>
                </tr>
{% for anime in anime_list %}
                <tr>

                    <td class="center"><img src="{{anime.poster.url}}"></td>
                    <td>{{anime.id}}. <a href="{{anime.get_absolute_url}}">{{anime.title}}</a></td>
                    <td class="center">{{anime.year}}</td>
                    <td class="center rating">8.3</td>

                </tr>
  {% endfor %}
              </table>
            </div>

{% endblock %}